<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card" style="border-color: rgb(177, 8, 8)">
        <div
          class="card-header text-white"
          style="background-color: rgb(177, 8, 8)"
        >
          Register
        </div>
        <div class="card-body">
          <form
            (submit)="
              registerform(
                registerusername.value,
                registerpassword.value,
                email.value,
                confirmpassword.value
              )
            "
          >
            <div class="mb-3">
              <label for="register-username" class="form-label">Username</label>
              <input
                required
                minlength="3"
                maxlength="20"
                ngModel
                name="register-username"
                #registerusername="ngModel"
                type="text"
                class="form-control"
                id="register-username"
                placeholder="Enter username"
              />
              <div
                class="alert alert-danger"
                *ngIf="registerusername.touched && !registerusername.valid"
              >
                <div *ngIf="registerusername.errors?.['required']">
                  Username is required
                </div>
                <div *ngIf="registerusername.errors?.['minlength']">
                  Username should be minimum
                  {{ registerusername.errors?.['minlength'].requiredLength }}
                  characters.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                required
                minlength="3"
                maxlength="20"
                ngModel
                name="email"
                #email="ngModel"
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
              />
              <div
                class="alert alert-danger"
                *ngIf="email.touched && email.invalid"
              >
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['minlength']">
                  Email should be minimum
                  {{email.errors?.['minlength'].requiredLength}} characters
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label for="register-password" class="form-label">Password</label>
              <input
                required
                minlength="6"
                maxlength="20"
                ngModel
                name="register-password"
                #registerpassword="ngModel"
                type="password"
                class="form-control"
                id="register-password"
                placeholder="Password"
              />
            </div>
            <div
              class="alert alert-danger"
              *ngIf="registerpassword.touched && registerpassword.invalid"
            >
              <div *ngIf="registerpassword.errors?.['required']">
                Password is required
              </div>
              <div *ngIf="registerpassword.errors?.['minlength']">
                Password should be minimum
                {{registerpassword.errors?.['minlength'].requiredLength}}
              </div>
            </div>
            <div class="mb-3">
              <label for="confirm-password" class="form-label"
                >Confirm Password</label
              >
              <input
                required
                minlength="6"
                maxlength="20"
                ngModel
                name="confirmpassword"
                #confirmpassword="ngModel"
                type="password"
                class="form-control"
                id="confirm-password"
                placeholder="Confirm Password"
              />
              <div
                class="alert alert-danger"
                *ngIf="confirmpassword.touched && confirmpassword.invalid"
              >
                <div *ngIf="confirmpassword.errors?.['required']">
                  Password is required
                </div>
                <div *ngIf="confirmpassword.errors?.['minlength']">
                  Password should be minimum
                  {{confirmpassword.errors?.['minlength'].requiredLength}}
                  characters
                </div>
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              style="
                background-color: rgb(177, 8, 8);
                border-color: rgb(177, 8, 8);
              "
            >
              Register
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
