<div class="container">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="/assets/hotel1.jpg" alt="Bali" />
      <div class="card-body">
        <h5 class="card-title">Elexor Hotel</h5>
        <p class="card-text">
          <button
            (click)="addHotel('Elexor Hotel')"
            class="btn btn-custom"
            role="button"
          >
            Add Hotel
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/hotel2.jpg" alt="Barcelona" />
      <div class="card-body">
        <h5 class="card-title">Barcelona View Stadium Hotel</h5>
        <p class="card-text">
          <button
            (click)="addHotel('Barcelona View Stadium Hotel')"
            class="btn btn-custom"
            role="button"
          >
            Add Hotel
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/hotel3.avif" alt="Niagara" />
      <div class="card-body">
        <h5 class="card-title">Maldives Resort Luxury</h5>
        <p class="card-text">
          <button
            (click)="addHotel('Maldives Resort Luxury')"
            class="btn btn-custom"
            role="button"
          >
            Add Hotel
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="/assets/hotel4.jpg" alt="Cancun" />
      <div class="card-body">
        <h5 class="card-title">Hotel Village House</h5>
        <p class="card-text">
          <button
            (click)="addHotel('Hotel Village House')"
            class="btn btn-custom"
            role="button"
          >
            Add Hotel
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/hotel5.png" alt="Santorini" />
      <div class="card-body">
        <h5 class="card-title">Mistery Castle Hotel</h5>
        <p class="card-text">
          <button
            (click)="addHotel('Mistery Castle Hotel')"
            class="btn btn-custom"
            role="button"
          >
            Add Hotel
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/hotel6.cms" alt="Dubai" />
      <div class="card-body">
        <h5 class="card-title">Hilton Resort</h5>
        <p class="card-text">
          <button
            (click)="addHotel('Hilton Resort')"
            class="btn btn-custom"
            role="button"
          >
            Add Hotel
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="/assets/hotel7.webp" alt="Istanbul" />
      <div class="card-body">
        <h5 class="card-title">Istanbul Scenic Hotel</h5>
        <p class="card-text">
          <button
            (click)="addHotel('Istanbul Scenic Hotel')"
            class="btn btn-custom"
            role="button"
          >
            Add Hotel
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/hotel8.jpeg" alt="London" />
      <div class="card-body">
        <h5 class="card-title">Marriot London Hotel</h5>
        <p class="card-text">
          <button
            (click)="addHotel('Marriot London Hotel')"
            class="btn btn-custom"
            role="button"
          >
            Add Hotel
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/hotel9.jpg" alt="Maldives" />
      <div class="card-body">
        <h5 class="card-title">Grand Hotel Embassy</h5>
        <p class="card-text">
          <button
            (click)="addHotel('Grand Hotel Embassy')"
            class="btn btn-custom"
            role="button"
          >
            Add Hotel
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
