<!-- About 1 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">
  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6 col-xl-5">
        <img
          class="img-fluid rounded img-hover-zoom"
          loading="lazy"
          src="./assets/globe1.jpg"
          alt="About 1"
        />
      </div>
      <div class="col-12 col-lg-6 col-xl-7">
        <div class="row justify-content-xl-center">
          <div class="col-12 col-xl-11">
            <h2 class="mb-3">Plan your perfect holiday</h2>
            <p class="lead fs-4 text-secondary mb-3">
              Our website is designed to be your ultimate destination for
              planning your dream vacation. We aim to provide a one-stop
              platform where you can select the perfect getaway destination,
              organize your travel itinerary, and manage a to-do list for your
              trip.
            </p>
            <p class="mb-5">
              From choosing luxurious hotels to exploring hidden gems, our site
              caters to every aspect of your holiday needs. Whether you're
              looking for a tranquil beach vacation, an adventurous trek, or a
              cultural city tour, our comprehensive selection and user-friendly
              interface make it easy for you to plan and book your ideal holiday
              experience.
            </p>

            <div class="card-group">
              <div class="card card mx-3 card-hover-zoom">
                <img
                  class="card-img-top"
                  src="/assets/destinations.jpg"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">Destinations</h5>
                  <p class="card-text">
                    Dive into the beauty of world-class destinations, handpicked
                    for their unique charm and appeal. Explore ancient ruins,
                    indulge in local cuisines, or simply unwind in the lap of
                    luxury.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                  <!-- Button in Card 1 -->
                  <button
                    (click)="goDestinations()"
                    type="button"
                    class="btn btn-primary"
                  >
                    Learn More
                  </button>
                </div>
              </div>
              <div class="card card mx-3 card-hover-zoom">
                <img
                  class="card-img-top"
                  src="/assets/todo.png"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">Todolist</h5>
                  <p class="card-text">
                    Make every moment of your vacation count with our tailored
                    to-do lists. From must-see landmarks to hidden gems, our
                    lists ensure you won't miss out on any of the wonders your
                    destination has to offer.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                  <!-- Button in Card 2 -->
                  <button
                    (click)="todolist()"
                    type="button"
                    class="btn btn-primary"
                  >
                    Learn More
                  </button>
                </div>
              </div>
              <div class="card card-hover-zoom">
                <img
                  class="card-img-top"
                  src="/assets/hotel.webp"
                  alt="Card image cap"
                />
                <div class="card-body">
                  <h5 class="card-title">Hotels</h5>
                  <p class="card-text">
                    Elevate your vacation experience by booking the perfect
                    hotel with us. Whether you're seeking luxury or charm, find
                    and reserve your ideal accommodation effortlessly.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                  <!-- Button in Card 3 -->
                  <button
                    (click)="featureHotel()"
                    type="button"
                    class="btn btn-primary"
                  >
                    Learn More
                  </button>
                </div>
              </div>
            </div>

            <!-- End of Card Group -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
