<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/assets/bali.jpg" alt="Card image cap" />
    <div class="card-body">
      <h5 class="card-title">Bali</h5>

      <p class="card-text">
        <button
          (click)="addDestination('Bali')"
          class="btn btn-custom"
          role="button"
        >
          Add destination
        </button>
      </p>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="/assets/barcelona.jpg"
      alt="Card image cap"
    />

    <div class="card-body">
      <h5 class="card-title">Barcelona</h5>

      <p class="card-text">
        <button
          (click)="addDestination('Barcelona')"
          class="btn btn-custom"
          role="button"
        >
          Add destination
        </button>
      </p>
    </div>
  </div>
  <div class="card">
    <img
      class="card-img-top"
      src="/assets/niagarahd.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Niagara</h5>

      <p class="card-text">
        <button
          (click)="addDestination('Niagara')"
          class="btn btn-custom"
          role="button"
        >
          Add destination
        </button>
      </p>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="/assets/cancun.jpg" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Cancun</h5>

        <p class="card-text">
          <button
            (click)="addDestination('Cancun')"
            class="btn btn-custom"
            role="button"
          >
            Add destination
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="/assets/santorinihd.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Santorini</h5>

        <p class="card-text">
          <button
            (click)="addDestination('Santorini')"
            class="btn btn-custom"
            role="button"
          >
            Add destination
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/dubai.jpg" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Dubai</h5>

        <p class="card-text">
          <button
            (click)="addDestination('Dubai')"
            class="btn btn-custom"
            role="button"
          >
            Add destination
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img
        class="card-img-top"
        src="/assets/istanbul.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Istanbul</h5>

        <p class="card-text">
          <button
            (click)="addDestination('Istanbul')"
            class="btn btn-custom"
            role="button"
          >
            Add destination
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/london.jpg" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">London</h5>

        <p class="card-text">
          <button
            (click)="addDestination('London')"
            class="btn btn-custom"
            role="button"
          >
            Add destination
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="/assets/maldives.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Maldives</h5>

        <p class="card-text">
          <button
            (click)="addDestination('Maldives')"
            class="btn btn-custom"
            role="button"
          >
            Add destination
          </button>
        </p>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="/assets/paris.avif" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Paris</h5>

        <p class="card-text">
          <button
            (click)="addDestination('paris')"
            class="btn btn-custom"
            role="button"
          >
            Add destination
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top"
        src="/assets/puckethd.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Pucket</h5>

        <p class="card-text">
          <button
            (click)="addDestination('Pucket')"
            class="btn btn-custom"
            role="button"
          >
            Add destination
          </button>
        </p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/rome.jpg" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">Rome</h5>

        <p class="card-text">
          <button
            (click)="addDestination('Rome')"
            class="btn btn-custom"
            role="button"
          >
            Add destination
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
